<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>考试一点通</string>
	<key>subTitle</key>
	<string>全国版</string>
	<key>icon</key>
	<string>logo.png</string>
	<key>version</key>
	<real>0.1</real>
	<key>website</key>
	<string>http://www.examw.com</string>
	<key>tel</key>
	<string>4000 525 585</string>
	<key>copyright</key>
	<string>中华考试网(www.examw.com)</string>
</dict>
</plist>
