<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>每日知识</string>
		<key>value</key>
		<string>everyday</string>
		<key>img_normal</key>
		<string>everyday_normal.png</string>
		<key>img_selected</key>
		<string>everyday_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>章节练习</string>
		<key>value</key>
		<string>practice</string>
		<key>img_normal</key>
		<string>practice_normal.png</string>
		<key>img_selected</key>
		<string>practice_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的收藏</string>
		<key>value</key>
		<string>collect</string>
		<key>img_normal</key>
		<string>collect_normal.png</string>
		<key>img_selected</key>
		<string>collect_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>错题重做</string>
		<key>value</key>
		<string>renewal</string>
		<key>img_normal</key>
		<string>renewal_normal.png</string>
		<key>img_selected</key>
		<string>renewal_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模拟考场</string>
		<key>value</key>
		<string>imitate</string>
		<key>img_normal</key>
		<string>imitate_normal.png</string>
		<key>img_selected</key>
		<string>imitate_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的笔记</string>
		<key>value</key>
		<string>notes</string>
		<key>img_normal</key>
		<string>notes_normal.png</string>
		<key>img_selected</key>
		<string>notes_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>论坛交流</string>
		<key>value</key>
		<string>forum</string>
		<key>img_normal</key>
		<string>forum_normal.png</string>
		<key>img_selected</key>
		<string>forum_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>学习记录</string>
		<key>value</key>
		<string>record</string>
		<key>img_normal</key>
		<string>record_normal.png</string>
		<key>img_selected</key>
		<string>record_selected.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>考试指南</string>
		<key>value</key>
		<string>guide</string>
		<key>img_normal</key>
		<string>guide_normal.png</string>
		<key>img_selected</key>
		<string>guide_selected.png</string>
	</dict>
</array>
</plist>
