<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>group-0</key>
	<array>
		<dict>
			<key>key</key>
			<string>date</string>
			<key>title</key>
			<string>考试日期设置</string>
			<key>type</key>
			<string>cell_date</string>
			<key>data</key>
			<string>2015-09-10</string>
		</dict>
		<dict>
			<key>key</key>
			<string>sync</string>
			<key>title</key>
			<string>同步与更新</string>
			<key>type</key>
			<string>cell_data</string>
			<key>data</key>
			<string></string>
		</dict>
	</array>
	<key>group-1</key>
	<array>
		<dict>
			<key>key</key>
			<string>screen</string>
			<key>title</key>
			<string>屏幕亮度</string>
			<key>type</key>
			<string>cell_data</string>
			<key>data</key>
			<string></string>
		</dict>
	</array>
	<key>group-2</key>
	<array>
		<dict>
			<key>key</key>
			<string>website</string>
			<key>title</key>
			<string>访问主站</string>
			<key>type</key>
			<string>cell_data</string>
			<key>data</key>
			<string>http://m.examw.com</string>
		</dict>
	</array>
	<key>group-3</key>
	<array>
		<dict>
			<key>key</key>
			<string>feedback</string>
			<key>title</key>
			<string>意见反馈</string>
			<key>type</key>
			<string>cell_data</string>
			<key>data</key>
			<string></string>
		</dict>
		<dict>
			<key>key</key>
			<string>protocol</string>
			<key>title</key>
			<string>隐私协议</string>
			<key>type</key>
			<string>cell_data</string>
			<key>data</key>
			<string></string>
		</dict>
		<dict>
			<key>key</key>
			<string>about</string>
			<key>title</key>
			<string>关于应用</string>
			<key>type</key>
			<string>cell_data</string>
			<key>data</key>
			<string></string>
		</dict>
	</array>
	<key>group-4</key>
	<array>
		<dict>
			<key>key</key>
			<string>account</string>
			<key>title</key>
			<string>当前账号</string>
			<key>type</key>
			<string>cell_data</string>
			<key>data</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
