<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<dict>
			<key>name</key>
			<string>切换产品</string>
			<key>iconName</key>
			<string>iconSwitch.png</string>
			<key>controller</key>
			<string>CategoryViewController</string>
			<key>status</key>
			<true/>
			<key>order</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>产品注册</string>
			<key>iconName</key>
			<string>iconRegister.png</string>
			<key>controller</key>
			<string>MyProductRegViewController</string>
			<key>status</key>
			<true/>
			<key>order</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>下载试卷</string>
			<key>iconName</key>
			<string>iconDown.png</string>
			<key>controller</key>
			<string></string>
			<key>status</key>
			<true/>
			<key>order</key>
			<string>2</string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>name</key>
			<string>意见反馈</string>
			<key>iconName</key>
			<string>iconCallback.png</string>
			<key>controller</key>
			<string></string>
			<key>status</key>
			<true/>
			<key>order</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>2</key>
	<array>
		<dict>
			<key>name</key>
			<string>关于应用</string>
			<key>iconName</key>
			<string>iconAbout.png</string>
			<key>controller</key>
			<string></string>
			<key>status</key>
			<true/>
			<key>order</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
